body{
    width: 95%;
    margin:auto;
    max-width: 800px;
    font-family: "roboto mono";
    line-height: 1.5;   
    background: url(../imgg/img.jpg);
    background-size: cover;
    color: #ffffff;
  
    
}

main{
    background: rgba(39, 116, 3, 0.699);
    padding: 50px 40px;
    margin-top: 130px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.data{
    text-align: center;
    font-family: "dancing script";
}

.titulo-carta{
    text-align: center;
}

.link{
    margin: 200px 200;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    margin: 100 auto; 
    text-shadow: 0 0 20px white;
    font-family: "dancing script";
    font-size: x-large;
}

div a{
text-decoration: none;
background-color: white;
color:rgba(39, 116, 3, 0.699);
border: 1px solid rgb(22, 66, 2);
border-radius: 3px;
padding: 10px 20px;
margin-top: 30px;
font-family: "roboto mono";
font-weight: bold;

}